:root {
  --background-color: #252525;
  --text-color: #fff;
  --font-fam: Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-fam);
}

.app {
  margin: 3vw;
}

